body{
    background-color: rgb(233, 236, 236);
}
.center-circle{
    height:700px;
    width:700px;
    margin:auto;
    margin-top:55px;
    background-image: linear-gradient(rgb(5, 5, 149), rgb(124, 4, 4));
    border-radius: 100%;
    position: relative;
}
.center-circle h1{
    color:white;
    position:relative;
    margin-left:250px;
    padding-top:200px;
}
.center-circle p{
    font-size: 18px;
    color:white;
    padding-top:100px;
    margin-left:100px;
    margin-right:100px;
}
.bottom-right-circle{
    width:300px;
    height:300px;
    background-color: rgb(233, 236, 236);
    position: relative;
    margin-left:837px;
    margin-top:-197px;
    border-radius: 100%;;
}
.bottom-right-circle2{
    width:150px;
    height:150px;
    background-image: linear-gradient( rgb(124, 4, 4), rgb(5, 5, 149));
    position: relative;
    margin-left:904px;
    margin-top:-237px;
    border-radius: 100%;;
}
.right-circle1{
    width:135px;
    height:200px;  
    background-image: linear-gradient(to right, rgb(124, 4, 4), rgb(5, 5, 149));
    position:relative;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    margin-left:1486px;
    margin-top:-724px;
}
.top-right-circle{
    width:250px;
    height:250px;
    background-color: rgb(233, 236, 236);
    border-radius: 100%;
    margin-left:972px;
    margin-top:-190px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.left-circle1{
    width:100px;
    height:100px;
    background-image: linear-gradient(to right, rgb(124, 4, 4), rgb(5, 5, 149));
    border-radius: 100%;
    margin-left:416px;
    margin-top:-54px;
    position: absolute;
    z-index: 1; 
}
.top-left1{
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to right, rgb(124, 4, 4), rgb(5, 5, 149));
    margin-left: -5px;
    margin-top: -334px;
    border-radius: 100%;
}
.top-left2{
    width: 190px;
    height: 190px;
    background-color: rgb(233, 236, 236);
    margin-left: 0px;
    margin-top: -196px;
    border-radius: 100%;
}
.bottom-left-circle{
    width:74px;
    height:204px;
    background-color: black;
    margin-top:446px;
    margin-left: -7px;
    background-color: rgb(124, 4, 4);
    background-image: linear-gradient(to right, rgb(124, 4, 4), rgb(5, 5, 149));
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.wave-circle1{
    width:110px;
    height:110px;
    background-color: rgb(124, 4, 4);
    border-radius: 100%;
    background-image: linear-gradient(to right, rgb(124, 4, 4), rgb(5, 5, 149));
    margin-top:-204px;
    margin-left:-6px;
}
.wave-circle2{
    width:100px;
    height:100px;
    background-color: rgb(233, 236, 236);
    border-radius: 100%;
    margin-top:-5px;
    margin-left:30px;
}
.left-main-circle{
    width:40px;
    height:40px;
    background-color: rgb(233, 236, 236);
    border-radius: 100%;
    margin-left:398px;
    margin-top:-517px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.extra-circle1{
    width:10px;
    height:10px;
    margin-left:246px;
    margin-top:280px;
    border-radius: 100%;
    background-image: linear-gradient(to right, rgb(124, 4, 4), rgb(5, 5, 149));
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.extra-circle2{
    width:10px;
    height:10px;
    margin-left:1185px;
    margin-top:-600px;
    border-radius: 100%;
    background-image: linear-gradient(to right, rgb(124, 4, 4), rgb(5, 5, 149));
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.cross-line1{
    width:4px;
    height:39px;
    background-color: rgb(124, 4, 4);
    margin-top:700px;
    margin-left:1400px;
    rotate: 40deg;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.5);
}
.cross-line2{
    width:4px;
    height:39px;
    background-color: rgb(124, 4, 4);
    margin-top:-30px;
    margin-left:1400px;
    rotate: -40deg;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.5);
}


@media (min-width: 358px) and (max-width: 432px) {
    .center-circle{
    height:270px;
    width:270px;
    margin:auto;
    margin-top:55px;
    background-image: linear-gradient(rgb(5, 5, 149), rgb(124, 4, 4));
    border-radius: 100%;
    position: relative;
}

.center-circle h1{
    color:white;
    position:relative;
    font-size: 18px;
    margin-left:72px;
    padding-top:70px;
}

.center-circle p{
    font-size: 8px;
    color:white;
    padding-top:21px;
    margin-left:53px;
    margin-right:44px;
}

.bottom-right-circle{
    width:100px;
    height:100px;
    background-color: rgb(233, 236, 236);
    position: relative;
    margin-left:227px;
    margin-top:-74px;
    border-radius: 100%;;
}
.bottom-right-circle2{
    width:50px;
    height:50px;
    background-image: linear-gradient( rgb(124, 4, 4), rgb(5, 5, 149));
    position: relative;
    margin-left:251px;
    margin-top:-81px;
    border-radius: 100%;;
}

.right-circle1{
    width:40px;
    height:48px;  
    background-image: linear-gradient(to right, rgb(124, 4, 4), rgb(5, 5, 149));
    position:relative;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    margin-top:-269px; 
    float: right;
}

.top-right-circle{
    width:100px;
    height:100px;
    background-color: rgb(233, 236, 236);
    border-radius: 100%;
    margin-left:226px;
    margin-top:-273px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.left-circle1{
    width:25px;
    height:25px;
    background-image: linear-gradient(to right, rgb(124, 4, 4), rgb(5, 5, 149));
    border-radius: 100%;
    margin-left:45px;
    margin-top:-31px;
    position: absolute;
    z-index: 1; 
}

.top-left1{
    width: 58px;
    height: 58px;
    background-image: linear-gradient(to right, rgb(124, 4, 4), rgb(5, 5, 149));
    margin-left: 1px;
    margin-top: -171px;
    border-radius: 100%;
}

.top-left2{
    width: 50px;
    height: 50px;
    background-color: rgb(233, 236, 236);
    margin-left: 5px;
    margin-top: -55px;
    border-radius: 100%;
}

.bottom-left-circle{
    width:25px;
    height:100px;
    background-color: black;
    margin-top:276px;
    margin-left: -7px;
    background-color: rgb(124, 4, 4);
    background-image: linear-gradient(to right, rgb(124, 4, 4), rgb(5, 5, 149));
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.wave-circle1{
    width:50px;
    height:50px;
    background-color: rgb(124, 4, 4);
    border-radius: 100%;
    background-image: linear-gradient(to right, rgb(124, 4, 4), rgb(5, 5, 149));
    margin-top:-101px;
    margin-left:-14px;
}

.wave-circle2{
    width:50px;
    height:50px;
    background-color: rgb(233, 236, 236);
    border-radius: 100%;
    margin-top:-2px;
    margin-left:-4px;
}

.left-main-circle{
    width:10px;
    height:10px;
    background-color: rgb(233, 236, 236);
    border-radius: 100%;
    margin-left:39px;
    margin-top:-265px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.extra-circle1{
    width:10px;
    height:10px;
    margin-left:246px;
    margin-top:280px;
    border-radius: 100%;
    background-image: linear-gradient(to right, rgb(124, 4, 4), rgb(5, 5, 149));
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.extra-circle2{
    width:10px;
    height:10px;
    margin-left:100px;
    margin-top:-380px;
    border-radius: 100%;
    background-image: linear-gradient(to right, rgb(124, 4, 4), rgb(5, 5, 149));
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.cross-line1{
    width:2px;
    height:20px;
    background-color: rgb(124, 4, 4);
    margin-top:300px;
    margin-left:351px;
    rotate: 40deg;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.5);
}
.cross-line2{
    width:2px;
    height:20px;
    background-color: rgb(124, 4, 4);
    margin-top:-17px;
    margin-left:354px;
    rotate: -40deg;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.5);
}
}